---
layout: default
---

<div class="content">

    <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}
      {% if page.category != '' %}
      &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{ page.category }}
      {% endif %}
    </p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>

<!-- <div class="category">
  <span class="category is-primary">{{ page.category }}</span>
</div> -->

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}
